{% extends "detail_template.html" %}

{% block button_back %}
  <div class="card-header">
    <a href="{% url 'ListProductPackage' %}" class="btn btn-outline-primary btn-lg">
    <span class="text">Volver</span>
    </a>
</div>  
{% endblock %}  

{% block table %}
<thead>
    <tr>
        <td>Producto</td>
        <td>Cantidad</td>
        <td>Unidad de Medida</td>
        <td>Cantidad Fija</td>
        <td>Fecha Creación</td>
        <td>Descripcion</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td>{{object.product_id.name}}</td>
        <td>{{object.unit_qty}}</td>
        <td>{{object.product_id.measure_id.abbreviation}}</td>
        <td>{{object.fixed_ammount}}</td>
        <td>{{object.date_created}}</td>
        <td>{{object.description}}</td>
    </tr>
</tbody>
{% endblock %}

{% block lines %}
    {% include "lines/move_lines.html" %}  
    {% include "lines/product_packages_lines.html" %}          
{% endblock %}