{% extends "detail_template.html" %} {% block button_back %}
<div class="card-header">
  <a
    href="{% url 'ListProductPackage' %}"
    class="btn btn-outline-primary btn-lg"
  >
    <span class="text">Volver</span>
  </a>
</div>
{% endblock %} {% block table %}
<thead>
  <tr>
    <td>Cantidad</td>
    <td>Unidad de Medida</td>
    <td>Piezas</td>
    <td>Cantidad por Unidad</td>
    <td>Cantidad Fija</td>
    <td>Descripcion</td>
    {% if user.is_staff %}
    <td>Usuario creador</td>
    <td>Fecha Creación</td>
    <td>Ultimo usuario en modificar</td>
    <td>Fecha Modificación</td>
{% endif %}
  </tr>
</thead>
<tbody>
  <tr>
    <td>{{object.unit_qty}}</td>
    <td>
      <a href="{% url 'DetailMeasurementUnit' object.product_id.measure_id.id %}">{{object.product_id.measure_id.name}}</a>
    </td>
    <td>{{object.pieces}}</td>
    <td>{{object.unit_qty}}</td>
    <td>{{object.fixed_ammount}}</td>
    <td>{{object.description}}</td>
    {% if user.is_staff %}
      <td>{{object.user_creator.first_name}} {{object.user_creator.last_name}}</td>
      <td>{{object.date_created}}</td>
      <td>{{object.user_updater.first_name}} {{object.user_updater.last_name}}</td>
      <td>{{object.date_updated}}</td>
    {% endif %}
  </tr>
</tbody>
{% endblock %}
{% block lines %}
  {% include "lines/move_lines.html" %}
  {% include "lines/product_packages_lines.html" %}
{% endblock %}
