{% extends "detail_template.html" %}
{% block button_back %}
<div class="card-header ">
    <a href="{% url 'ListStockLocation' %}" class="btn btn-outline-primary btn-lg">
    <span class="text">Volver</span>
    </a>
</div>
{% endblock %}

{% block table %}
<thead>
    <tr>
        <td>Nombre</td>
        <td>Tipo</td>
        <td>Activo</td>
        <td>Descripción</td>
        <td>Fecha Creación</td>
        
    </tr>
</thead>
<tbody>
    <tr>
        <td>{{object.name}}</td>
        <td>{{object.location_type}}</td>
        <td>{{object.active}}</td>
        <td>{{object.description}}</td>
        <td>{{object.date_created}}</td>
    </tr>
</tbody>
{% endblock %}

{% block lines %}
    {% include "lines/stock_location_lines.html" %}       
{% endblock %}
