<!DOCTYPE html>
<html>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" type="text/css">

  <!-- bootstrap_modal_forms -->
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
  <!-- base styles  -->
   <link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" type="text/css">
   <link rel="stylesheet" href="{% static 'css/all.min.css' %}" type="text/css" >
   <link rel="stylesheet" href="{% static 'css/sb-admin-2.min.css' %}" type="text/css">
   <link rel="stylesheet" href="{% static 'webfonts/fa-solid-900.woff2' %}" type="text/css" >
   <link rel="stylesheet" href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" >
</html>