{% extends "list_template.html" %}
{% block buttons_create %}
<div class="card-header">
    <a href="{% url 'CreateMeasurementUnit' %}" class="btn btn-outline-success btn-icon-split btn-lg">
    <span class="text">Crear nueva Medida</span>
    </a>
    <!-- <h3 class="card-title">DataTable with minimal features & hover style</h3> -->
</div>
{% endblock %}
{% block table %}
<thead>
    <tr>
        <td>Código</td>
        <td>Nombre</td>
        <td>Factor de Unidad</td>
        <td>Abreviatura</td>
        <td>Fecha Creación</td>
        <td>Descripción</td>
        <td>Acciones</td>
    </tr>
</thead>
<tbody>
    {% if object_list %}
    {% for measure in object_list %}
    <tr>
        <td>{{measure.code}}</td>
        <td>{{measure.name}}</td>
        <td>{{measure.unit_qty}}</td>
        <td>{{measure.abbreviation}}</td>
        <td>{{measure.date_created}}</td>
        <td>{{measure.description}}</td>
        <td>
            <a href="{% url 'EditMeasurementUnit' measure.id %}" class="btn btn-info btn-circle btn-lg" >
                <i class="far fa-edit"></i>
            </a> 
            <a href="{% url 'DeleteMeasurementUnit' measure.id %}" class="btn btn-danger btn-circle btn-lg">
                <i class="fas fa-trash"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <h1>No hay registros</h1>
    {% endif %}
</tbody>
{% endblock %}